<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html
  xmlns:epub="http://www.idpf.org/2007/ops" xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="en-US" epub="http://www.idpf.org/2007/ops" lang="en-US">
<head>
<meta charset="utf-8" http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{.Page.Title}}</title>
<style type="text/css">
{{.Smol.InlineCSS}}</style>
</head>
<body>
<header>
  <h1>{{.Page.Title}}</h1>
{{if .Page.TOC}}  <div id="toc_container">
    <p id="toc_title">Table of Contents</p>
    <ul class="toc_list">
{{range .Page.TOC}}      <li><a href="{{.Href}}">{{.Text}}</a></li>
{{end}}    </ul>
  </div>
{{end}}</header>
<main>
{{indent .Page.ContentHTML "  "}}
</main>
</body>
</html>